<!DOCTYPE html>
<html>
  <head>
    <title><%= productName %></title>

    <meta charset="utf-8">
    <meta name="description" content="<%= productDescription %>">
    <meta name="format-detection" content="telephone=no">
    <meta name="msapplication-tap-highlight" content="no">
    <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width<% if (ctx.mode.cordova || ctx.mode.capacitor) { %>, viewport-fit=cover<% } %>">

    <link rel="icon" type="image/png" sizes="128x128" href="icons/favicon-128x128.png">
    <link rel="icon" type="image/png" sizes="96x96" href="icons/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="32x32" href="icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="icons/favicon-16x16.png">
    <link rel="icon" type="image/ico" href="favicon.ico">

    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- JS Globals -->
    <script>
      //iFrame Message Constants
      const MSG_TYPE_TEST = 'TEST';
      const MSG_TYPE_ISSUE_BID = "ISSUE_BID";
      const MSG_TYPE_NOTIFY_LOGIN = "LOGIN_NOTICE";
      const MSG_TYPE_NOTIFY_LOGOUT = "LOGOUT_NOTICE";
      const MSG_TYPE_SIGNIN = "signin";
      
    function getUrlParameter(sParam) {
      var sPageURL = decodeURIComponent(window.location.search.substring(1)),
        sURLVariables = sPageURL.split('&'),
        sParameterName,
        i;

      for (i = 0; i < sURLVariables.length; i++) {
        sParameterName = sURLVariables[i].split('=');

        if (sParameterName[0] === sParam) {
          return sParameterName[1] === undefined ? null : sParameterName[1];
        }
      }
    } 

    function reqIFRAME_SRC(sLand){
      var iframe = document.getElementById('content_iframe');

      if(iframe != null) {
          var land = "";
          if(sLand !== null){
            land = sLand;
          } else {
            land = getUrlParameter("l");
          }
          var land_var = '';

          if(land != undefined)
          { land_var = "l=" + land + '&'; }

          var debug = getUrlParameter("debug");
          var debug_var = '';

          if(debug != undefined)
          { debug_var = "debug=" + debug + '&'; }

          var url = window.location.href;
          url = url.split('?')[0];
          url = url + 'xeros/hflive/canvas.php?' + land_var + debug_var;
          
          var c_url = iframe.src;
          
          //console.log("url -- " + url);
          //console.log("c_url -- " + c_url);
          
          if(url !== c_url)
          { iframe.src = url; }
      }
    }


    setTimeout(function() {
      
      var iFrame = document.getElementById('content_iframe');

      iFrame.contentWindow.postMessage(JSON.stringify({
          message: MSG_TYPE_TEST,
          data: 'parent to child data here...'
      }), location.origin);
      
    }, 3000);

    </script>

  </head>
  <body>
    <!-- DO NOT touch the following DIV -->
    <div id="q-app"></div>
  </body>
</html>
